
/* Main body */
body {
    width: auto;
    background-color: aliceblue;
}

/* Navigation bar */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    list-style: none;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    width:100%;
}

/* Links in the navigation bar */
nav ul li, footer ul li {
    display: inline;
    padding: 50px;
    font-weight: bold;
}

#things{
    background-color: aquamarine;
}

/* All links */
a {
    text-decoration: none;
    color: #999;
}

/* All links on hover */
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}